pynput
pyqt5
python-dotenv
sounddevice
numpy
pyperclip
soundfile
colorlog
httpx
requests
opencc-python-reimplemented
pystray
pillow
pip-tools
uvicorn
fastapi
python-multipart
google-genai
matplotlib
pycaw